/* Estilos Generales */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Estilos para el Body */
body{
    font-family: 'Open Sans', sans-serif;
}

/* Estilos para el comando "a" */
a{
    text-decoration: none;
    color: black;
}

/* Estilo del contenedor, utilizando GRID */
.contenedor {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 90px auto;
    grid-template-rows: 60px auto;
    grid-template-areas:    "Encabezado Encabezado"
                            "MenuLateral Main";
    transition: all .3s ease;
}

.contenedor.active {
    grid-template-columns: 300px auto;
}

/* Estilo Encabezado */
.Encabezado {
    grid-area: Encabezado;
    padding: 0 20px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-content: space-between;
    grid-gap: 20px;
    grid-template-areas: "contenedorLogo barraBusqueda botonesHeader";
}

.Encabezado .contenedorLogo {
    grid-area: contenedorLogo;
    display: flex;
    align-items: center;
}

.Encabezado .contenedorLogo .botonMenu {
    border: none;
    padding: 10px;
    background: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.Encabezado .contenedorLogo .botonMenu:hover{
    background: #E7E7E7;
}

.Encabezado .contenedorLogo .logo .fas {
    background: #f00;
    padding: 7px 12px;
    border-radius: 4px;
    font-size: 8px;
    color: white;
    position: relative;
    top: -4px;
    margin-right: 4px;
}

.Encabezado .contenedorLogo .logo {
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    position: relative;
    top: 2px;
}

.Encabezado .barraBusqueda { 
    grid-area: barraBusqueda;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Encabezado .barraBusqueda input {
    min-width: 60%;
    padding: 0 15px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #ccc;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.Encabezado .barraBusqueda button {
    height: 35px;
    border: 1px solid #ccc;
    border-left: none;
    color: #545454;
    background: #f8f8f8;
    padding: 0px 25px;
    cursor: pointer;
}

.Encabezado .barraBusqueda button:hover{
    background: #f5f5f5;
}

.Encabezado .botonesHeader { 
    grid-area: botonesHeader;
    display: flex;
    align-items: center;
}

.Encabezado .botonesHeader button {
    background: none;
    border: none;
    width: 40px;
    height: 40px;
    font-size: 18px;
    padding: 7px 12px;
    border-radius: 100px;
    color: #828282;
    margin-right: 20px;
    cursor: pointer;
}

.Encabezado .botonesHeader button:hover {
    background: #e7e7e7;
}

.Encabezado .botonesHeader .Avatar {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-top: 10px;
}

.Encabezado .botonesHeader .Avatar img {
    vertical-align: top;
    width: 100%;
    border-radius: 100%;
}

/* Menu Lateral */
.MenuLateral{
    grid-area: MenuLateral;
    background: whitesmoke;
}

.Main{
    grid-area: Main;
    background: gray;
}